html {
    height: 100%;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.mainPage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    margin: 0;
}

.mainBody {
    display: flex;
    flex-direction: row;
    flex: 9;
}

.mainBoard {
    text-align: center;
    background-color: rgb(228, 228, 228);
    background-image: url("C:/Users/marco/OneDrive/Documents/projets-web/site2/images/backgroundpixel.png");
    background-size: 9px 9px;
    flex : 12;
}