.mainHeader {
    font-size: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px;
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    z-index: 3;
}

.projectNameHeader {
    display: flex;
    flex-direction: row;
    height: 50%;
    align-items: center;
}

.settingsHeader {
    display: flex;
    height: 50%;
    
}

.leftHeader {
    flex: 1;
}

.rightHeader {
    flex: 1;
}

.middleHeader {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.spacer {
    flex-basis: 0;
    flex-grow: 1;
}

.currentTitle {
    max-width: 1000px;
    transform: translateY(-4px);
}
