header {
    height: 15%;
    text-align: center;
    vertical-align: bottom;
    font-size: 30px;
    box-shadow: 1px 1px 1px gray;
}

aside {
    width: 10%;
    background-color: darkgray;
    height: 100%;
}

body {
    margin: 0%;
    height: 100%;
}

html {
    height: 100%;
}